<div class="bg-gray-50 min-h-screen">
  <!-- Main Navigation -->
  <nav class="bg-blue-500 text-white p-4">
    <h1 class="text-xl font-bold">{{ title }}</h1>
    <ul class="mt-4">
      <li>
        <a routerLink="/books" class="text-white hover:text-blue-200"
          >Book List</a
        >
      </li>
      <li>
        <a routerLink="/books/add" class="text-white hover:text-blue-200"
          >Add Book</a
        >
      </li>
    </ul>
  </nav>

  <!-- Routed Views -->
  <div class="container mx-auto p-6">
    <router-outlet></router-outlet>
    <!-- This is where routed views will be injected -->
  </div>
</div>
