<div class="container mx-auto p-4">
  <h1 class="text-xl font-bold mb-4">Book List</h1>

  <div *ngIf="books.length > 0; else noBooks">
    <div *ngFor="let book of books" class="p-4 border rounded shadow mb-4">
      <h2 class="text-lg font-semibold">{{ book.title }}</h2>
      <p>Author: {{ book.author }}</p>
      <p>Year: {{ book.year }}</p>
      <a [routerLink]="['/books/details', book.id]" class="text-blue-500">View Details</a>
    </div>
  </div>

  <ng-template #noBooks>
    <p class="text-gray-500">No books available.</p>
  </ng-template>
</div>
